src/nodes/examples/time-validator.json
[{
  "id": "3b7630dbe77d213d",
  "type": "inject",
  "z": "f6f2187d.f17ca8",
  "name": "",
  "props": [{
      "p": "payload"
    },
    {
      "p": "topic",
      "vt": "str"
    }
  ],
  "repeat": "",
  "crontab": "",
  "once": false,
  "onceDelay": 0.1,
  "topic": "",
  "payload": "",
  "payloadType": "date",
  "x": 220,
  "y": 160,
  "wires": [
    [
      "8f89bfb23747b71a"
    ]
  ]
},
{
  "id": "a308aaf71704f15f",
  "type": "debug",
  "z": "f6f2187d.f17ca8",
  "name": "debug 1",
  "active": true,
  "tosidebar": true,
  "console": false,
  "tostatus": false,
  "complete": "true",
  "targetType": "full",
  "statusVal": "",
  "statusType": "auto",
  "x": 660,
  "y": 140,
  "wires": []
},
{
  "id": "4cd8ce4dd9f6da6e",
  "type": "debug",
  "z": "f6f2187d.f17ca8",
  "name": "debug 2",
  "active": true,
  "tosidebar": true,
  "console": false,
  "tostatus": false,
  "complete": "true",
  "targetType": "full",
  "statusVal": "",
  "statusType": "auto",
  "x": 660,
  "y": 180,
  "wires": []
},
{
  "id": "8f89bfb23747b71a",
  "type": "time-validator",
  "z": "f6f2187d.f17ca8",
  "name": "",
  "active": "true",
  "timezone": "-3",
  "dateBlocks": [{
      "type": "week",
      "value": [
        "monday",
        "tuesday",
        "wednesday",
        "thursday",
        "friday"
      ],
      "isActive": "true",
      "startTime": "18:00",
      "endTime": "22:00"
    },
    {
      "type": "day",
      "value": "21",
      "isActive": "true",
      "startTime": "20:30",
      "endTime": "21:30"
    },
    {
      "type": "annual",
      "value": "21/11",
      "isActive": "true",
      "startTime": "20:00",
      "endTime": "22:00"
    },
    {
      "type": "specific",
      "value": "2024-11-21",
      "isActive": "false",
      "startTime": "20:00",
      "endTime": "22:00"
    }
  ],
  "x": 460,
  "y": 160,
  "wires": [
    [
      "a308aaf71704f15f"
    ],
    [
      "4cd8ce4dd9f6da6e"
    ]
  ]
}
]